.navbar navbar-expand-lg bg-dark {
    padding: 0%;
    margin: 0%;
    width: 0%;
}

.nav-linki { 

    color: white;
    font-family : Helvetica, sans-serif;
    padding: 28px 17px;
    display: block;
    font-weight: 700;
    text-decoration: none;
    font-size: medium;
    font-style: normal;

}

.nav-linki:hover{
        color: #1ed760;


}

.separator {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.vr {
    color: white;
    padding: 0.3mm;
    margin-top: 0.8cm;
    margin-bottom: 0.8cm;
    font-family: Arial, Helvetica, sans-serif;

    
}

.assets/images/hola.png {

    padding-left: 2cm;
    font-family: Arial, Helvetica, sans-serif;
}

#barrarosada{

     background-color: #DF0E8A;
     color: white;
     padding: 150px;
     margin-bottom: 50px;
     top: 200px;
     padding-top: 50px;
     font-family: Arial, Helvetica, sans-serif;
}

#cara {

    float: right;
    margin-right: 100px;
    background-color: #DF0E8A;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#correr{

    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#boton
{

    margin-top: 50px;
    border-radius: 50rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

#boton1{

    margin-top: 50px;
    margin-left: 10px;
    border-radius: 50rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

#letrachica{

    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

#letrachica2{

    font-size: small;
    margin-bottom: 100px;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;

}

.premium
{

    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hola1
{

font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.icono {

    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.premium{

    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.hola2
{

    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.col{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.bold{

    font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 20px;


}

.icono1
{

margin-left: center;
}

.premium1{

    

    font-size: 50px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 630px;
}

.textofinal{

    font-size: 20px;
    margin-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 600px;


}

.supremo{

    background-color: #EFEFEF;
}

.container
{
    margin: 10px;
width: 100%;
}

.flex
{

    display: flex;
}

.text-center{

    text-align: left;
    display: flex;
}

.columna {
    background-color: white;
    color: #191414;
    border: 1px solid #333;
margin: 10px;
padding: 4px;
border-radius: 5px; 
box-shadow: 2px 2px 5px #191414;
margin-top: 100px;
}

.btn1
{

    background: #191414;
    display: block;
    padding: 10px;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.texto
{
font-size: 10px;

}

.button
{

    margin-bottom: 60px;
    text-align: right;
}




